
*{
  margin: 0px;
  padding: 0px;
}

.content{
  background-color: #fff;
  margin: 0 auto;
}

.head{
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  font-size: 20px;
  text-align: center;
  color:#3f3f3f;
}


.title{
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  font-size: 14px;
  text-align: center;
  color:#3f3f3f;
}

.text{
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-size: 14px;
  text-align: center;
  color:#5e8bff;
}

.textInput{
  border: 1px solid #ccc;
}

.input{
  padding: 0px 20px;
}
